## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,79.97,79,100,6.29,moderate rain
1,1,Olafsvik,IS,64.8945,-23.7142,42.93,87,67,9.69,broken clouds
2,2,Georgetown,MY,5.4112,100.3354,85.95,79,20,0.00,few clouds
3,3,Bredasdorp,ZA,-34.5322,20.0403,59.09,63,47,8.77,scattered clouds
4,4,Albany,US,42.6001,-73.9662,67.93,28,0,1.99,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 79
What is the maximum temperature you would like for your trip? 90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,79.97,79,100,6.29,moderate rain
2,2,Georgetown,MY,5.4112,100.3354,85.95,79,20,0.00,few clouds
21,21,Buala,SB,-8.1450,159.5921,80.60,86,98,9.40,light rain
29,29,Hithadhoo,MV,-0.6000,73.0833,84.72,79,100,19.69,overcast clouds
35,35,Awbari,LY,26.5921,12.7805,87.21,12,0,8.70,clear sky
45,45,Lata,PT,40.1629,-8.3327,81.48,44,77,10.20,broken clouds
57,57,Lorengau,PG,-2.0226,147.2712,82.96,74,89,13.24,overcast clouds
58,58,Hambantota,LK,6.1241,81.1185,82.74,94,20,12.66,few clouds
59,59,Kulhudhuffushi,MV,6.6221,73.0700,85.10,75,100,19.86,overcast clouds
68,68,Mandera,KE,3.9366,41.8670,87.39,52,100,12.93,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                140
City                   140
Country                139
Lat                    140
Lng                    140
Max Temp               140
Humidity               140
Cloudiness             140
Wind Speed             140
Current Description    140
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Avarua,CK,-21.2078,-159.7750,79.97,79,100,6.29,moderate rain
2,2,Georgetown,MY,5.4112,100.3354,85.95,79,20,0.00,few clouds
21,21,Buala,SB,-8.1450,159.5921,80.60,86,98,9.40,light rain
29,29,Hithadhoo,MV,-0.6000,73.0833,84.72,79,100,19.69,overcast clouds
35,35,Awbari,LY,26.5921,12.7805,87.21,12,0,8.70,clear sky
...,...,...,...,...,...,...,...,...,...,...
656,656,Jardim,BR,-21.4803,-56.1381,88.54,28,4,4.52,clear sky
657,657,Soyo,AO,-6.1349,12.3689,80.74,83,56,10.02,broken clouds
665,665,Abu Dhabi,AE,24.4667,54.3667,86.02,44,0,13.80,clear sky
667,667,Waw,SS,7.7029,27.9953,87.08,47,100,6.26,light rain
670,670,Minab,IR,27.1467,57.0801,84.52,54,0,4.61,haze

In [10]:
preferred_cities_df.count()

City_ID                140
City                   140
Country                139
Lat                    140
Lng                    140
Max Temp               140
Humidity               140
Cloudiness             140
Wind Speed             140
Current Description    140
dtype: int64

In [11]:
clean_df=preferred_cities_df.dropna()

In [12]:
clean_df.count()

City_ID                139
City                   139
Country                139
Lat                    139
Lng                    139
Max Temp               139
Humidity               139
Cloudiness             139
Wind Speed             139
Current Description    139
dtype: int64

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,79.97,moderate rain,-21.2078,-159.7750,
2,Georgetown,MY,85.95,few clouds,5.4112,100.3354,
21,Buala,SB,80.60,light rain,-8.1450,159.5921,
29,Hithadhoo,MV,84.72,overcast clouds,-0.6000,73.0833,
35,Awbari,LY,87.21,clear sky,26.5921,12.7805,
45,Lata,PT,81.48,broken clouds,40.1629,-8.3327,
57,Lorengau,PG,82.96,overcast clouds,-2.0226,147.2712,
58,Hambantota,LK,82.74,few clouds,6.1241,81.1185,
59,Kulhudhuffushi,MV,85.10,overcast clouds,6.6221,73.0700,
68,Mandera,KE,87.39,overcast clouds,3.9366,41.8670,

In [14]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 

    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,79.97,moderate rain,-21.2078,-159.7750,Paradise Inn
2,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
21,Buala,SB,80.60,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
29,Hithadhoo,MV,84.72,overcast clouds,-0.6000,73.0833,Scoop Guest House
35,Awbari,LY,87.21,clear sky,26.5921,12.7805,فندق أوباري
...,...,...,...,...,...,...,...
656,Jardim,BR,88.54,clear sky,-21.4803,-56.1381,Estancia Hotel - Jardim MS
657,Soyo,AO,80.74,broken clouds,-6.1349,12.3689,Hotel Mpampa
665,Abu Dhabi,AE,86.02,clear sky,24.4667,54.3667,Beach Rotana
667,Waw,SS,87.08,light rain,7.7029,27.9953,Universal Gab Hotel
670,Minab,IR,84.52,haze,27.1467,57.0801,Bam campground

In [15]:
clean_hotel_df = hotel_df.drop(hotel_df[hotel_df['Hotel Name']==""].index)

In [16]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,79.97,moderate rain,-21.2078,-159.7750,Paradise Inn
2,Georgetown,MY,85.95,few clouds,5.4112,100.3354,Cititel Penang
21,Buala,SB,80.60,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
29,Hithadhoo,MV,84.72,overcast clouds,-0.6000,73.0833,Scoop Guest House
35,Awbari,LY,87.21,clear sky,26.5921,12.7805,فندق أوباري
...,...,...,...,...,...,...,...
656,Jardim,BR,88.54,clear sky,-21.4803,-56.1381,Estancia Hotel - Jardim MS
657,Soyo,AO,80.74,broken clouds,-6.1349,12.3689,Hotel Mpampa
665,Abu Dhabi,AE,86.02,clear sky,24.4667,54.3667,Beach Rotana
667,Waw,SS,87.08,light rain,7.7029,27.9953,Universal Gab Hotel
670,Minab,IR,84.52,haze,27.1467,57.0801,Bam campground

In [17]:
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacations.csv"
# Export the City_Data into a CSV.
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} °F</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>


</dl>
"""

In [19]:

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
max_temp =clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Call the figure to plot the data.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))